.yellow-box {
  width: 200px;
  height: 200px;
  background-color: yellow;
}
.boxes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.play-button {
  background-color: rgb(5, 5, 41);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.pause-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.stagger-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.stagger-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgb(232, 147, 12);
  width: 100px;
  height: 100px;
}